<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bairen_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,252},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>bairen_fangjian_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{157,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,55}}</string>
                <key>sourceSize</key>
                <string>{159,55}</string>
            </dict>
            <key>bairen_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,31},{217,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,163}}</string>
                <key>sourceSize</key>
                <string>{217,163}</string>
            </dict>
            <key>bairen_xiazhudi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,238},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bairen_xiazhudi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,109},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bairen_xiazhudi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,988},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bairen_xiazhudi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,109},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bairen_xiazhudi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,335},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bairen_xiazhudi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,329},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bairen_xiazhudi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,988},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>bairen_xiazhudi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,270},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bairen_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1000},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>bar_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,829},{259,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,11}}</string>
                <key>sourceSize</key>
                <string>{259,11}</string>
            </dict>
            <key>btn_bairen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_bairen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,249},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_bairen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,238},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_bairen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,172},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_bairen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,186},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_bairen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,186},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,109},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btn_jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,109},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>fnt_bairen.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,230},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>fnt_fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1000},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{58,20}</string>
            </dict>
            <key>fnt_kaijiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,727},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>fnt_liebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,727},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>fnt_paixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,134},{75,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,23}}</string>
                <key>sourceSize</key>
                <string>{75,23}</string>
            </dict>
            <key>fnt_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1000},{59,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,20}}</string>
                <key>sourceSize</key>
                <string>{59,20}</string>
            </dict>
            <key>fnt_shangcijiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,109},{75,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,23}}</string>
                <key>sourceSize</key>
                <string>{75,23}</string>
            </dict>
            <key>fnt_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,988},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>fnt_shangzhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,727},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>fnt_shangzhuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,152},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>fnt_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,842},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>fnt_xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1000},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>fnt_xiazhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,987},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>fnt_xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,697},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>fnt_zoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,667},{95,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,28}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
            <key>icon_bairen.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,109},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>icon_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1000},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_jingshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,135},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>icon_lingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,186},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>icon_qushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,288},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>icon_sanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,148},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_taoxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,148},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>icon_wanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>icon_xinxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>icon_zhanqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1000},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>jiangchi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{309,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,81}}</string>
                <key>sourceSize</key>
                <string>{309,81}</string>
            </dict>
            <key>jiangchi_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{164,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,27}}</string>
                <key>sourceSize</key>
                <string>{164,27}</string>
            </dict>
            <key>jiangchi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,250},{577,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,160}}</string>
                <key>sourceSize</key>
                <string>{577,160}</string>
            </dict>
            <key>kedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,341}}</string>
                <key>sourceSize</key>
                <string>{22,341}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{238,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,169}}</string>
                <key>sourceSize</key>
                <string>{238,169}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,186},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,325},{108,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{108,88}</string>
            </dict>
            <key>shangzhuang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>shangzhuang_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,26},{224,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,30}}</string>
                <key>sourceSize</key>
                <string>{224,30}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,842},{144,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,63}}</string>
                <key>sourceSize</key>
                <string>{144,63}</string>
            </dict>
            <key>zhuangjia_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,435},{230,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,86}}</string>
                <key>sourceSize</key>
                <string>{230,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hundred.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0482beb50b089818ce90776ce7f5dbf4$</string>
            <key>textureFileName</key>
            <string>hundred.png</string>
        </dict>
    </dict>
</plist>
