<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,438},{10,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,48}}</string>
                <key>sourceSize</key>
                <string>{10,48}</string>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,438},{104,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>biaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,438},{104,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,450},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,180},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,392},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,278},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,228},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,170},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn_mai.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,252},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>btn_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,196},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>btn_zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,450},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>btn_zhankai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,365},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,493},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>fnt_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,488},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>fnt_caifubang.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,389},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>fnt_caifubang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,389},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>fnt_fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,431},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>fnt_huodongbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,340},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>fnt_huodongbang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,389},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>fnt_huodongsaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,162},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>fnt_jiangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{155,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,62}}</string>
                <key>sourceSize</key>
                <string>{155,62}</string>
            </dict>
            <key>fnt_jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,226},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>fnt_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,128},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>fnt_kuaisukaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,252},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>fnt_liaotianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,278},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>fnt_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,474},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>fnt_pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,196},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>fnt_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,474},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>fnt_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,66},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>fnt_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{111,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,62}}</string>
                <key>sourceSize</key>
                <string>{111,62}</string>
            </dict>
            <key>fnt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,237},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>icon_buzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,493},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>icon_chuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,389},{145,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,47}}</string>
                <key>sourceSize</key>
                <string>{145,47}</string>
            </dict>
            <key>icon_chuji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,340},{145,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,47}}</string>
                <key>sourceSize</key>
                <string>{145,47}</string>
            </dict>
            <key>icon_fangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,128},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>icon_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,486},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>icon_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{145,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,55}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>icon_gaoji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{145,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,55}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>icon_guizhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,110},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>icon_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,110},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>icon_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,361},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>icon_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,278},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>icon_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,286},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>icon_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,493},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>icon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,336},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>icon_zhongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,292},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>icon_zhongji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{338,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{338,55}}</string>
                <key>sourceSize</key>
                <string>{340,57}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,450},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,170},{21,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,65}}</string>
                <key>sourceSize</key>
                <string>{21,65}</string>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,361},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>kuang3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,325},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>kuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,335},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>liaotian_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,306},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,237},{150,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,53}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{150,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,53}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,514},{100,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1}}</string>
                <key>sourceSize</key>
                <string>{100,1}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,226},{1,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,29}}</string>
                <key>sourceSize</key>
                <string>{1,29}</string>
            </dict>
            <key>list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,397},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,176}}</string>
                <key>sourceSize</key>
                <string>{293,176}</string>
            </dict>
            <key>no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,266},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,448},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,352},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,392},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>touxiang_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,389},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>ui_msg_system_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,337},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{518,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d38123c28b1cd3276656ca97f5f90c51$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
