<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>card_dark_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>card_front_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>card_value_big_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,184},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,184},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,186},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,191},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_black_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,103},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>card_value_big_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,187},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,169},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,151},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,191},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,175},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,157},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,139},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>card_value_big_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,121},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,179},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,185},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,103},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_red_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,85},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>card_value_big_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,179},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,167},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,85},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,67},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,149},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,131},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>card_value_big_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,49},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>card_value_big_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,66},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>card_variety_big_black_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,162},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>card_variety_big_black_club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,121},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_black_club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,121},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_black_club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,114},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_black_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,157},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>card_variety_big_black_spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,85},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_black_spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,85},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_black_spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,49},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_red_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,157},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>card_variety_big_red_diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,49},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_red_diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_red_diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_red_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,157},{28,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>card_variety_big_red_heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_red_heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,66},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_big_red_heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>card_variety_small_black_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,136},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>card_variety_small_black_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,121},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>card_variety_small_red_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,193},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>card_variety_small_red_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,193},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_texture.png</string>
            <key>size</key>
            <string>{205,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d68c9a3a21f3a0ed1eb4a486842c17b$</string>
            <key>textureFileName</key>
            <string>poker_texture.png</string>
        </dict>
    </dict>
</plist>
