<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,63},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,125},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,125},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,125},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>btn_mai.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>chuma.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,41},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,121}}</string>
                <key>sourceSize</key>
                <string>{32,121}</string>
            </dict>
            <key>fnt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,21},{18,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{18,7}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_10bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,219},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>fnt_15bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,219},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>fnt_1bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>fnt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,233},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>fnt_20bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,66},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>fnt_25bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>fnt_2bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,227},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>fnt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,213},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_3bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,227},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>fnt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,213},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>fnt_4bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,227},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>fnt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,193},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_5bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,227},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>fnt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,173},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,103},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>fnt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,101},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fnt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,153},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_bei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,154},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>fnt_bei10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,23},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>fnt_bei15.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,28},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>fnt_bei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,180},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>fnt_bei20.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,66},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>fnt_bei25.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,66},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>fnt_bei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,101},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>fnt_bei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,27},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>fnt_bei5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,66},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>fnt_bei5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,227},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>fnt_beix.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,21},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>fnt_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,114},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>fnt_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,133},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_meiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,66},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>fnt_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,133},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,101},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fnt_niu_quanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,66},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>fnt_niu_sandai.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,104},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>fnt_niu_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>fnt_niu_wancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,75},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>fnt_niu_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,103},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>fnt_niu_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,45},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>fnt_youniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,95},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>icon_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,183},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>icon_chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,231},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>icon_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,231},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>icon_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,183},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>icon_paizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>icon_paizhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,154},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>icon_paizhuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,129},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>icon_paizhuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>icon_paizhuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,41},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>icon_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,231},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,124},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>touxiang_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,180},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>zhuangjia_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{255,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75690da0cdc382052e821a04d9a22552$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
